.signup-grid {
  display: grid;
  width: 90%;
  background-color: white;
  grid-template-columns: 40% 60%;
  /* padding: 50px; */
  place-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 1rem;
}
.main-sign {
  display: grid;
  place-items: center;
  background: #32cd32;
  height: auto;
  width: 100vw;
  height: 100vh;
}
.signup-img img {
  height: auto;
}
@media screen and (max-width: 1076px) {
  .signup-grid {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    width: 90%;
  }
  .main-sign {
    height: auto;
  }
}
@media screen and (max-width: 460px) {
  .signup-grid {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    width: 90%;
    background: white;
  }
  .main-sign {
    background: #32cd32;
    height: 100vh;

    /* margin-top: 100px; */
  }
  .signup-img img {
    width: 100%;
  }
}
